<div>
    <select [(ngModel)]="selectedMetric" (change)="changeMetric()">
        <option *ngFor="let metric of chartMetrics" [ngValue]="metric">{{metric.title}}</option>
    </select>
</div>
<div>
    <google-chart [type]="chartData.type" [data]="chartData.data" [columns]="chartData.columnNames"
        [width]="chartData.width" [height]="chartData.height"></google-chart>
</div>